@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-Bricolage: "Bricolage Grotesque", sans-serif;
    --font-Roboto: "Roboto", sans-serif;
    --primary-color: #DD3142;
}

@layer utilities{
    .nav{
        @apply relative tracking-[1px] hover:font-bold
    }

    .nav::after{
        @apply content-[''] bg-[#DD3142] h-[2px] w-[0%] absolute left-0 -bottom-[5px] duration-300
    }

    .nav:hover::after{
        @apply w-[100%] font-bold
    }
}

.container{
    margin: 0 auto;
    max-width: 1280px;
}