@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-Bricolage: "Bricolage Grotesque", sans-serif;
    --font-Roboto: "Roboto", sans-serif;
} 

.container {
    margin: 0 auto;
    max-width: 1280px;
}

@layer utilities{
    .nav {
        position: relative;
        letter-spacing: 1px;
        transition: font-weight 0.3s;
    }

    .nav:hover {
        font-weight: bold;
    }

    .nav::after {
        content: '';
        background-color: #DD3142;
        height: 2px;
        width: 0%;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: width 0.3s;
        display: block;
    }

    .nav:hover::after {
        width: 100%;
    }
}
